pre.phut-debug {
	border: 1px solid red;
	background-color:white;
	color: black;
	padding:1em;
	margin: 2em 0;	
}

/* Copied / adapted from WordPress */


.ui-tabs-nav {
	border-bottom: 1px solid #ccc;
    line-height: inherit;
    margin: 0;
}

.ui-tabs-nav li {
	margin-bottom: 0;	
}

/* Copied from WordPress .nav-tab-active styles */
.ui-tabs-active a,
.ui-tabs-active a:focus,
.ui-tabs-active a:focus:active,
.ui-tabs-active a:hover {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 1px solid #f1f1f1;
    color: #000;
}

.ui-tabs-active a {
    color: #444;
    margin-bottom: -1px;
}

.ui-tabs-active a,
.ui-tabs-active a:focus:active {
    box-shadow: none;
}